body{
	background-color:#51DFFF;
	font-family: 'Magra', sans-serif;
}

/*#grey{
	position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #4F5157; 
}*/


.container{
	display:block;
	width: 1000px;
	height:1000px;
	margin: 0 auto 0 auto;
}

h1{
	margin-top: 50px;
	text-align: center;
	color: #4F5157;
	font-size: 40px;

}


.stage{
	display:block;
	width: 500px;
	height: 500px;
	margin: 50px auto 0 auto;

}

.box{
	text-decoration: none;
	width: 150px;
	height: 150px;
	/*border: 4px solid black;*/
	/*vertical-align: top;*/
	display: inline-block;
	margin: 3px;
	background-color: #CCF6FF;

}

.box > img {
	border: 0px;
	height: 150px;
	width: 150px;
	
