body{
	font-family: 'Luckiest Guy', bold;
	background-color: #ed363b;
	cursor: url("../img/smoke.png"), auto;
}


/*
.container{
	display:block;
	width: 1000px;
	height:1000px;
	margin: 0 auto 0 auto;
}*/

h1{
	margin-top: 50px;
	text-align: center;
	font-size: 60px;
	color: #fecd06;


}


.stage{
	display:block;
	width: 500px;
	height: 500px;
	margin: 70px auto 0 auto;
	/*background-image: url("img/giphy.gif");*/

}

.box{
	text-decoration: none;
	width: 150px;
	height: 150px;
	/*border: 4px solid black;*/
	/*vertical-align: top;*/
	display: inline-block;
	margin: 3px;
	background-color: #2e8c2b;
	border: 5px solid #fecd06;
	border-radius: 8px;

}

img {
	display: inline-block;
	text-align: center;
	margin: 10px;
	height: 130px;
	width: 130px;
}



#splash{
	width: 500px;
	height: 302px;
}

form{
	width: 210px;
	height: 55px;
	margin: 10px auto 0 auto;
	text-align: center;

}

#start {
	width: 200px;
	height: 50px;
	color: black;
	font-size: 30px;
	background-color:#fecd06;
	color: #2e8c2b;
	border: 3px solid #2e8c2b;
	cursor: url("../img/smoke.png"), auto;
}

#start:hover{
	cursor: url("../img/smoke.png"), auto;
	background-color: #fff;
}

#cheech_wins, #smoke, #chong_wins{
	width: 500px;
	height: auto;
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

#cheech_message, #chong_message{
	display: inline-block;
	text-align: center;
	font-size: 90px;
	color: #fecd06;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin-top: 150px;
	z-index: 5;
	
}

#smoke{
	opacity: 0.5;
    min-height:100%;
    min-width:100%;
    background-size:cover;
}
